.product {
    display: flex;
    flex-wrap: wrap;
}

.product__item {
    height: 500px;
    width: 288px;
    overflow: hidden;
    padding: 2px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
}

.product__item__img {
    overflow: hidden;
}

.product__item__img img {
    height: 355px;
    width: 100%;
    object-fit: cover;
}

.product__item__name h5 {
    color: #003953;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    margin-top: 10px;
}

.product__item__description {
    margin-left: 5px;
}

.product__item__description span {
    color: #ada0a0;
    padding: 0;
}

.product__item__price {
    margin-left: 5px;
}

.product__item__btn-add {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.product__item__btn-add button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 25px;
    color: #003953;
}

.product__item__btn-add:hover button {
    color: rgba(0, 57, 83, 0.8)
}